

$blue-color: #000068;
$red-color: #FC0D4C;
$white-color: #FDFFEE;

/*fonts*/


html{
    background-color: $white-color;
}
body{
    margin:0;
    color: $blue-color;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 500;
}
.section a{
    text-decoration: none;
    background-color: $red-color;
    color: $white-color;
    padding: .1em .2em;
}
ul{
    list-style: none;
    padding: 0;
    
}
#headerCanvas{
    /* width:900px; */
    /* height: 550px; */
    width: 100vw;
    /* height: 550px; */
    height: 62.5vw;
    max-width: 1200px;
    max-height: 750px;
    // outline: 1px solid red;
    display: block;
    margin: auto;
}
#main-container{
    max-width: 900px;
    margin: auto;
    padding: 0 1em;

    

}
.divider{
        // height: 200px;
        // border: 1px solid $blue-color;
        height: 50px;
        border-bottom: 2px solid $blue-color;
    }
#locations{
    li{
        margin-bottom: 10px;
        span{
            display: block;
        }
    }
}
#map{
    background-color: #FC0D4C;
    width:100%;
    height: 450px;
}

/*sponsors*/
.logo{
    width:150px;
    img{
        width: 100%;
    }
}